img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.backgroundimage {
    background-image: url("backyard.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}