header {
    width: 345px;
    padding: 10px;
    border: 5px solid rgb(51, 51, 51);
    background-color: rgb(157, 255, 0);
    margin: 0;
    color:black;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.backgroundimage {
    background-image: url("backyard.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}